body{
    background-color: #191919;
}
.container-fluid{
    background-color: #8a0202;
    color:aqua
}
h1{
    color: #eeee;
    background-color: #e31a1acc;
    font-size: 30px;
    text-align: center;
    padding: 3px;
}
h2 , h3 , h4, h6{
    color:#eeee;
}
p, b, form{
    color: #eeee;
}
/* Guardar usuarios en index */
.fs-1{
color: transparent;
    background-image: linear-gradient(45deg, #eeee, #876422);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1s;
    &:hover {
        background-image: linear-gradient(45deg,#eeeeee, #a7761c);
    }
}
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .label{
    padding: 50px;
    }
}
.input{
    width: 300px;
    padding: 10px;
    margin: 10px;

}
.usuarios{
    display: flex;
    justify-content: end;
    align-items: end;
}

/* suplementos */
.stock{
    padding-left: 150px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}    
    .body-cards{
        text-align: center;
        padding: 10px;
        box-shadow: 5px 3px 15px 4px #eeee;
        
    }
    .imagen{
        width: 450px;
        height: 450px;
        object-fit: cover;
    }

    /* CARRITO */
.carts{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    overflow: auto;
    top: 12vh;
    z-index: 9;
    right: 1%;
    bottom: 30vh;

}
