body{
    background-color: #191919;
}
.container-fluid{
    background-color: #8a0202;
    color:aqua
}
h1{
    color: #eeee;
    background-color: #e3431acc;
    font-size: 30px;
    text-align: center;
    padding: 3px;
}
h2 , h3 , h4, h5, h6{
    color:#eeee;
}
p, b, form{
    color: #eeee;
}
/* Guardar usuarios en index */
.fs-1{
color: transparent;
    background-image: linear-gradient(45deg, #eeee, #876422);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1s;
    &:hover {
        background-image: linear-gradient(45deg,#eeeeee, #a7761c);
    }
}
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .label{
    padding: 50px;
    }
}
.input{
    width: 300px;
    padding: 10px;
    margin: 10px;

}

/* suplementos */
.stock{
    padding-left: 150px;
}
.carta{
    border: solid #eeee 2px;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    
    .imagen{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .body-carta{
        width: 600px;
        text-align: center;
        padding: 10px;
        

    }
}

color: transparent;
    background-image: linear-gradient(45deg,  $text-color, $nav-color );
    font-size: 80px;
    padding-top: 3%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1s;
    &:hover {
        background-image: linear-gradient(45deg,#ff0000, $text-color );
    }
}